<h1>Job Tracker Dashboard</h1>

<h3>Jobs by Level of Interest</h3>

<table class="jobs-by-level-of-interest">
  <tr>
    <th>Level of Interest</th>
    <th>Number of Jobs</th>
  </tr>
  <% @dashboard.number_of_jobs_by_level_of_interest.each do |interest, count| %>
  <tr>
    <td><%= interest %></td>
    <td><%= count %></td>
  </tr>
  <% end %>
</table>

<h3>Companies with the Most Interest</h3>

<table class="companies-with-most-interest">
  <tr>
    <th>Rank</th>
    <th>Company</th>
    <th>Average Level of Interest</th>
  </tr>
  <tr>
    <td>i + 1</td>
    <td>company.name</td>
    <td>avg(company.jobs.avg(:level_of_interest)</td>
  </tr>
</table>

<h3>Locations with the Most Jobs</h3>

<table class="jobs-by-location">
  <tr>
    <th>Location</th>
    <th>Number of Jobs</th>
  </tr>
  <tr>
    <td>location</td>
    <td>count</td>
  </tr>
</table>