<h3>Jobs</h3>
<p>
  Visit a <%= link_to 'Company', companies_path %> to add a job.
</p>
<% @jobs.each do |job| %>
<ul><%= link_to job.title, job_path(job) %> at <%= link_to job.company.name, company_path(job.company) %> (<%= job.city %>)</ul>
<% end %>