<h1>Categories</h1>

<%= button_to "New Category", new_category_path, method: 'get' %>
<ul>
<% @categories.each do |category| %>
  <li>
    <%= link_to category.title, category_path(category) %>
    with <%= category.jobs.count %> jobs
  </li>
  <% end %>
</ul>